body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}


/* css/app.css */
@import "../node_modules/normalize.css/normalize.css";

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section{
  height: 100vh;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #fff;
}

.nav{
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav a{
  margin: 10px;
}

.section_three,
.section_two{
  flex-direction: row;
}


.iphone-demo {
  flex-basis:0;
  flex-grow: 1;
  align-self: stretch;
  justify-content: center;
  background-color: rgba(255,0,0,0.3);
}

.feature-description {
  flex-basis:0;
  flex-grow: 1;
  align-self:stretch;
  justify-content: center;
  background-color: rgba(0,255,0,0.3);
}

